
.header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .header a {
    color: rgb(228, 206, 206);
    text-decoration: none;
  }
  
  .header a:hover {
    color: #fff;
  }